@charset "UTF-8";
@font-face {
  font-family: 'Conv_bpg_mrgvlovani_caps_2010';
  src: url("../fonts/bpg_mrgvlovani_caps_2010.eot");
  src: local("☺"), url("../fonts/bpg_mrgvlovani_caps_2010.woff") format("woff"), url("fonts/bpg_mrgvlovani_caps_2010.ttf") format("truetype"), url("fonts/bpg_mrgvlovani_caps_2010.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'Conv_bpg_mrgvlovani_caps_2010'; }
  body a {
    text-decoration: none !important; }

header {
  background: #6BB5E4; }
  header .header-top {
    font-size: 12px;
    text-align: center;
    background: #FBD254; }
    header .header-top a {
      text-decoration: none;
      color: #113268; }
  header .header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 18px; }
    header .header-bottom .header-right {
      display: flex;
      align-items: center;
      padding-right: 45px; }
      header .header-bottom .header-right .contact {
        display: flex;
        align-items: center;
        line-height: 28px; }
        header .header-bottom .header-right .contact img {
          width: 55px;
          height: 55px; }
        header .header-bottom .header-right .contact .phone {
          display: flex;
          flex-direction: column;
          margin-left: 10px; }
          header .header-bottom .header-right .contact .phone span {
            color: #073269;
            font-size: 18px; }
          header .header-bottom .header-right .contact .phone .number {
            font-size: 30px; }
      header .header-bottom .header-right a:first-child {
        font-size: 14px;
        color: white;
        background: #073269;
        border-radius: 5px;
        padding: 2px 8px; }
      header .header-bottom .header-right .fb-link {
        margin: 0 20px; }

.title {
  font-size: 40px;
  color: #073269; }

.main-container .banner {
  background-image: url(../images/bg.svg);
  font-family: 'Conv_bpg_mrgvlovani_caps_2010';
  background-repeat: no-repeat;
  background-size: 67%;
  background-position-x: 126%;
  background-position-y: -110px;
  display: flex;
  align-items: center;
  padding: 80px 0; }
  .main-container .banner .banner-left {
    margin: 0 60px;
    width: 65%; }
    .main-container .banner .banner-left .see-more {
      margin-top: 50px; }
      .main-container .banner .banner-left .see-more a {
        font-size: 24px;
        color: #F98C90;
        border: 1px solid #F98C90;
        padding: 19px;
        border-radius: 10px;
        transition: .4s; }
        .main-container .banner .banner-left .see-more a:hover {
          background: #F98C90;
          color: white; }
  .main-container .banner .banner-right {
    width: 100%; }
    .main-container .banner .banner-right img {
      width: 100%; }
.main-container .payment {
  display: flex;
  justify-content: center;
  margin: 70px 0;
  flex-wrap: wrap; }
  .main-container .payment .price a {
    font-size: 24px;
    color: white;
    padding: 19px 60px;
    border-radius: 10px;
    background: #6CB5E4;
    margin-right: 15px; }
  .main-container .payment .pay a {
    font-size: 24px;
    color: #F98C90;
    border: 1px solid #F98C90;
    padding: 19px 127px;
    border-radius: 10px;
    transition: .4s;
    margin-left: 15px; }
    .main-container .payment .pay a:hover {
      background: #F98C90;
      color: white; }
.main-container .content-container {
  display: flex;
  align-items: center;
  padding: 80px; }
  .main-container .content-container .content-image {
    width: 100%;
    padding: 15px; }
    .main-container .content-container .content-image img {
      width: 85%;
      max-height: 500px; }
  .main-container .content-container .content {
    padding: 15px;
    width: 100%; }
    .main-container .content-container .content p {
      font-size: 16px;
      color: #073269; }
    .main-container .content-container .content .see-more {
      margin-top: 50px; }
      .main-container .content-container .content .see-more a {
        font-size: 24px;
        color: #073269;
        border: 1px solid #6CB5E4;
        padding: 19px 40px;
        border-radius: 10px;
        transition: .4s; }
        .main-container .content-container .content .see-more a:hover {
          background: #6CB5E4;
          color: white; }
.main-container .terms-section {
  padding: 60px;
  background: #F98C90;
  display: flex;
  flex-wrap: wrap; }
  .main-container .terms-section .terms {
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    display: flex;
    align-items: center;
    flex: 40%; }
    .main-container .terms-section .terms span {
      margin-left: 15px; }

footer {
  background: #6CB5E4;
  padding: 50px 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  color: white; }
  footer .footer-content {
    display: flex;
    flex-direction: column;
    line-height: 40px; }
    footer .footer-content a {
      text-decoration: none;
      color: white; }
  footer .left-content {
    justify-content: space-between; }
  footer .chat a {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #33A8FD;
    padding: 15px;
    border-radius: 50%; }

* {
  margin: 0;
  padding: 0; }

.form-container {
  background-image: url(../images/bg.svg);
  background-size: 110%;
  background-position: 260px -510px;
  background-repeat: no-repeat;
  margin-bottom: 100px; }
  .form-container .form-header {
    padding: 40px 0; }
    .form-container .form-header .main-title h1 {
      font-size: 30px;
      color: #113268;
      text-align: center; }
    .form-container .form-header .breadcrumb {
      font-size: 14px;
      background: transparent;
      justify-content: center; }
      .form-container .form-header .breadcrumb li {
        padding-right: 8px; }
        .form-container .form-header .breadcrumb li a {
          color: #113268; }
      .form-container .form-header .breadcrumb li + li:before {
        color: #3e9578;
        content: "/\00a0"; }
  .form-container .common-form {
    width: 50%;
    margin: 0 auto;
    background: white;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1), 0 16px 13px rgba(0, 0, 0, 0.22); }
    .form-container .common-form .common-form-header {
      background-image: url(../images/mask\ header.svg), url(../images/Rectangle\ 22.svg);
      padding: 22px 0;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      border-radius: 10px 10px 0 0; }
      .form-container .common-form .common-form-header h2 {
        font-size: 30px;
        text-align: center;
        color: white; }
    .form-container .common-form .colors {
      height: 10px;
      background: grey; }
      .form-container .common-form .colors .yellow {
        width: 25%;
        background: #FFE31E;
        height: 10px; }
      .form-container .common-form .colors .yellow-2 {
        width: 50%;
        background: #FFE31E;
        height: 10px; }
      .form-container .common-form .colors .yellow-3 {
        width: 70%;
        background: #FFE31E;
        height: 10px; }
      .form-container .common-form .colors .yellow-4 {
        width: 90%;
        background: #FFE31E;
        height: 10px; }
    .form-container .common-form .form-info {
      font-size: 16px;
      color: #113268;
      text-align: center;
      margin-top: 20px;
      width: 90%; }
    .form-container .common-form .form-content {
      margin: 15px 25px; }
      .form-container .common-form .form-content .form-question {
        padding: 30px 0; }
        .form-container .common-form .form-content .form-question .main-question {
          margin-bottom: 20px; }
        .form-container .common-form .form-content .form-question .question-input-2 {
          margin-left: 80px; }
        .form-container .common-form .form-content .form-question .question-input {
          position: absolute; }
          .form-container .common-form .form-content .form-question .question-input .cart_button {
            margin-left: 35px; }
          .form-container .common-form .form-content .form-question .question-input input {
            width: 20px;
            height: 20px;
            margin-right: 30px; }
          .form-container .common-form .form-content .form-question .question-input input {
            position: absolute;
            opacity: 0;
            cursor: pointer; }
          .form-container .common-form .form-content .form-question .question-input input:checked ~ .checkmark {
            background-color: #113268;
            border: 2px solid #113268;
            padding: 3px;
            background-clip: content-box; }
          .form-container .common-form .form-content .form-question .question-input .checkmark {
            position: absolute;
            top: 2px;
            left: 6px;
            height: 20px;
            width: 20px;
            background-color: #eee;
            border-radius: 50%; }
          .form-container .common-form .form-content .form-question .question-input .checkmark:after {
            display: block; }
          .form-container .common-form .form-content .form-question .question-input .checkmark:after {
            content: "";
            position: absolute; }
        .form-container .common-form .form-content .form-question span {
          color: #113268;
          font-size: 14px; }
      .form-container .common-form .form-content .form-section {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .form-container .common-form .form-content .form-section .personal-id {
          width: 100% !important; }
        .form-container .common-form .form-content .form-section .form-group-long {
          width: 100% !important; }
          .form-container .common-form .form-content .form-section .form-group-long select {
            background-position: 97%; }
        .form-container .common-form .form-content .form-section .form-group {
          display: flex;
          flex-direction: column;
          width: 48%; }
          .form-container .common-form .form-content .form-section .form-group .car-price {
            display: flex;
            align-items: center; }
            .form-container .common-form .form-content .form-section .form-group .car-price img {
              margin-left: 10px; }
          .form-container .common-form .form-content .form-section .form-group .car-price-input {
            display: flex; }
            .form-container .common-form .form-content .form-section .form-group .car-price-input input {
              width: 70%;
              border-radius: 10px 0 0 10px; }
            .form-container .common-form .form-content .form-section .form-group .car-price-input select {
              width: 35%;
              height: 43px;
              margin-top: 5px;
              border-radius: 0 10px 10px 0;
              background-position: 70px;
              background-color: #DFF3FF; }
          .form-container .common-form .form-content .form-section .form-group img {
            margin-left: 35px; }
          .form-container .common-form .form-content .form-section .form-group span {
            color: #113268;
            font-size: 14px; }
          .form-container .common-form .form-content .form-section .form-group .common-input {
            border: 1px solid #6CB5E4;
            border-radius: 8px;
            padding: 10px;
            margin-top: 5px;
            outline: none;
            font-size: 14px;
            color: #113268; }
          .form-container .common-form .form-content .form-section .form-group input::-webkit-outer-spin-button,
          .form-container .common-form .form-content .form-section .form-group input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; }
          .form-container .common-form .form-content .form-section .form-group select {
            padding: 11px;
            font-size: 14px;
            border: 1px solid #6CB5E4;
            border-radius: 8px;
            outline: none;
            color: #113268;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-image: url(../images/arrow\ select.svg);
            background-position: 265px;
            background-repeat: no-repeat; }
        .form-container .common-form .form-content .form-section .form-group-long {
          width: 100% !important; }
          .form-container .common-form .form-content .form-section .form-group-long select {
            background-position: 97%; }
      .form-container .common-form .form-content .form-footer {
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .form-container .common-form .form-content .form-footer span:nth-child(1) {
          font-size: 22px;
          color: #F98C90; }
        .form-container .common-form .form-content .form-footer span:nth-child(3) {
          font-size: 14px;
          color: #113268; }
        .form-container .common-form .form-content .form-footer .back-button {
          border: 1px solid #F6F6F8;
          padding: 15px 50px;
          border-radius: 10px;
          color: #6CB5E4;
          margin: 0 5px; }
        .form-container .common-form .form-content .form-footer .next-button {
          background: #6CB5E4;
          padding: 15px 35px;
          border-radius: 10px;
          color: white;
          margin: 0 5px; }
        .form-container .common-form .form-content .form-footer .price-button {
          background: #FFE31E;
          padding: 15px 35px;
          border-radius: 10px;
          color: #113268;
          margin: 0 5px; }
    .form-container .common-form .price-calc-header h2 {
      font-size: 24px;
      text-align: center;
      color: #113268;
      padding: 40px 0 20px; }
  .form-container .price-calc-section {
    width: 80%;
    padding-bottom: 50px; }
    .form-container .price-calc-section table {
      width: 80%;
      margin: 0 auto 50px;
      box-shadow: 0 6px 19px rgba(0, 0, 0, 0.1), 0 2px 14px rgba(0, 0, 0, 0.22);
      border-radius: 7px;
      overflow: hidden; }
      .form-container .price-calc-section table tr:not(:last-child) {
        border-bottom: 1px solid #E8EBF1; }
      .form-container .price-calc-section table .total {
        background: #DFF3FF; }
      .form-container .price-calc-section table th {
        width: 50%;
        padding: 17px 40px;
        background: #DFF3FF;
        font-size: 16px;
        color: #073269; }
        .form-container .price-calc-section table th:nth-child(even) {
          text-align: center; }
        .form-container .price-calc-section table th:nth-child(odd) {
          padding-left: 20px;
          border-right: 1px solid #E8EBF1; }
      .form-container .price-calc-section table .details, .form-container .price-calc-section table th {
        background: white; }
    .form-container .price-calc-section .terms-checkbox {
      text-align: center; }
      .form-container .price-calc-section .terms-checkbox a {
        text-decoration: underline !important;
        color: #073269; }
    .form-container .price-calc-section .price-calc-form {
      position: relative; }
      .form-container .price-calc-section .price-calc-form .terms-checkbox {
        text-align: center;
        position: unset; }
        .form-container .price-calc-section .price-calc-form .terms-checkbox .cart-button {
          position: relative; }
        .form-container .price-calc-section .price-calc-form .terms-checkbox .checkmark {
          top: 0;
          left: 315px;
          border-radius: 5px; }
      .form-container .price-calc-section .price-calc-form .question-input input:checked ~ .checkmark {
        background-color: #9A9A9A;
        border: 2px solid #9A9A9A; }
    .form-container .price-calc-section .button-box {
      text-align: center;
      margin-top: 40px; }
      .form-container .price-calc-section .button-box .policy-button {
        background: #113268;
        color: white;
        font-size: 14px;
        padding: 15px 50px;
        border-radius: 10px; }

.question-input {
  position: absolute; }
  .question-input .cart_button {
    margin-left: 35px; }
  .question-input input {
    width: 20px;
    height: 20px;
    margin-right: 30px; }
  .question-input input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
  .question-input input:checked ~ .checkmark {
    background-color: #113268;
    border: 2px solid #113268;
    padding: 3px;
    background-clip: content-box; }
  .question-input .checkmark {
    position: absolute;
    top: 2px;
    left: 6px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%; }
  .question-input .checkmark:after {
    display: block; }
  .question-input .checkmark:after {
    content: "";
    position: absolute; }

/*# sourceMappingURL=main.css.map */
