@font-face {
	font-family: 'Conv_bpg_mrgvlovani_caps_2010';
	src: url('../fonts/bpg_mrgvlovani_caps_2010.eot');
	src: local('☺'), url('../fonts/bpg_mrgvlovani_caps_2010.woff') format('woff'), url('fonts/bpg_mrgvlovani_caps_2010.ttf') format('truetype'), url('fonts/bpg_mrgvlovani_caps_2010.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{
    font-family: Imedi FLT;
    src: url('../../fonts/Imedi\ FLT.otf ');
}

body{
    font-family: Imedi FLT;
    

    
    a{
        text-decoration:none !important;
    }
}


.loader{
    background: white;
    z-index: 999;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    background-image: url(../images/bg.svg);
    background-repeat: no-repeat;
    background-position: center;

    
}

.reverse{
    padding: 0 80px 0 !important;
    position: relative;
    top: 15px;

    .content-image{
        padding-bottom: 0 !important;
    };
}


.pop-up-container{
    width: 100%;
    height: 100vh;
    background: grey;
    background-color: rgba(46, 71, 120, 0.9);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
}

.success{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
   
  
}

.pop-up-hide{
    display: none;
}

.success-image{
    margin: 0 auto 20px;
    border-radius: 50%;
    border: 1px solid;
    padding: 15px;
    border: 1px solid #6CB5E4;

    img{
        
        margin: 0 auto;
        margin-left: unset !important;
        width: 60px;
        height: 60px;

    }
}

header{

    background: #6BB5E4;

    @media only screen and (max-width: 991px) {
        background:white
      }
    
   

    .header-top{
        font-size: 12px;
        text-align: center;
        background: #FBD254;

        a{
            text-decoration:none;
            color: #113268;
        }
    }

    .header-bottom{
        display: flex;
        justify-content: space-between;
        padding: 18px;

        .header-right{
            display: flex;
            align-items: center;
            padding-right: 45px;

            .contact{
                display: flex;
                align-items: center;
                line-height: 28px;

                img{
                    width:55px;
                    height: 55px;

                    
                }

                .phone{
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;

                    span{
                        color: #073269;
                        font-size: 18px;
                    }

                    .number{
                        font-size:30px;
                    }
                }
            }

            a:first-child{
                font-size: 14px;
                color: white;
                background: #073269;
                border-radius: 5px;
                padding: 2px 8px;

            }

            .fb-link{
                margin: 0 20px;
            }

            @media only screen and (max-width: 991px) {
               a:not(:last-child){
                   display: none;
               }

               position: absolute;
               right: 30px;
               padding-right: unset;

               .phone{
                   display: none !important;
               }


            }
            

            

            
        }

        .header-left{
            @media only screen and (max-width: 991px){
                text-align: center;
                width: 100%;
            }
        }

        @media only screen and (max-width: 991px) {
            position: relative;
        }

     

        

    }

}

.title{
   font-size: 40px;
   color: #073269; 
   letter-spacing: 2px;
}

button{
    border: transparent;
    background: transparent;
    outline: none !important;
    cursor: pointer;
}

.main-container{

    .banner{
        background-image: url(../images/bg.svg);
        font-family: Imedi FLT;
        background-repeat: no-repeat;
        background-size: 67%;
        background-position-x: 126%;
        background-position-y: -110px;
        display: flex;
        align-items: center;
        padding: 80px 0;
        

        .banner-left{
            margin: 0 60px;
            width: 65%;

            .see-more{
                margin-top: 50px;
              
                a, button{
                    font-size: 24px;
                    color: #6CB5E4;
                    padding: 19px;
                    border-radius: 10px;
                    outline: none;
                    background: #F7EA84 !important;

                  
                }

                button{
                    height:60px;
                    padding: unset;
                    background: white;
                    padding:0 19px ;
                    outline: none;
                   
                }
            }
        }

        .banner-right{
            width: 100%;

            img{
                width: 100%;
            }
        }
    }

    .payment{
        display: flex;
        justify-content: center;
        margin: 70px 0;
        flex-wrap: wrap;

        .price{
            a, button{
                font-size: 24px;
                color: white;
                padding: 19px 60px;
                border-radius: 10px;
               background:#6CB5E4 ;
               margin-right: 15px;

            }
        }

        .pay{

            a, button{
                font-size: 24px;
                background:#F98C90;
                color: white;
                padding: 19px 127px;
                border-radius: 10px;
                margin-left: 15px;
            }
        }

    }


    .content-container{
        display: flex;
        align-items: center;
        padding: 70px;

        .content-image{
            width: 100%;
            padding: 15px;
            position: relative;
         

            img{
                width:85%;
                max-height: 500px;
            }

            .lg-image{
                width: 170%;
                max-height: 500px;
                position: absolute;
                right: 40px;
                top: -130px;
            }
        }


        .content{
            padding: 15px;
            width: 100%;
            

            .textbox{
                max-height: 90px;
                overflow: hidden;
            }
            
            p{
                font-size: 16px;
                color: #073269;
                font-family: 'Conv_bpg_mrgvlovani_caps_2010';
    
            }
    
            .see-more{
                margin-top: 50px;


                .active{
                    background-color:#6CB5E4;
                    color: white;
                }
              
                a, button{
                    font-size: 24px;
                    color: #073269;
                    border: 1px solid #6CB5E4;
                    padding: 19px 40px;
                    border-radius: 10px;
                    transition:.4s;
                    outline: none;
                    margin-bottom: 20px;
                  

                    img{
                        padding-bottom: 4px;
                        padding-left: 5px;
                    }

                    .rotate{
                        transform: rotate(180deg);
                        padding: 7px 5px 0 0px;
                    }
                    
                  

                    &:hover{
                        background-color:#6CB5E4;
                        color: white;
                        
                        
                    }
                    
                }


            }
        }

    }

    .content-box{
        padding-bottom: 10px;
    }


    .terms-section{
        padding: 60px;
        background:#F98C90 ;
        display: flex;
        flex-wrap: wrap;

        .terms{
            background: white;
            border-radius: 10px;
            padding: 15px;
            margin: 20px;
            display: flex;
            align-items: center;
            flex: 40%;
            color: #113268;
            
            span{
                margin-left:15px;
            }
        }
    }


   


}

footer{
    background: #6CB5E4;
    padding: 50px 80px;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Conv_bpg_mrgvlovani_caps_2010';
   

    .footer-content{
        display: flex;
        flex-direction: column;
        line-height: 40px;

        a{
            text-decoration: none;
            color: white;
        }
    }

    .left-content{
        justify-content: space-between;
    }

    .chat a{
        position: absolute;
        bottom: 20px;
        right: 20px;
        background: #33A8FD;
        padding: 15px;
        border-radius: 50%;
    }
}


@media only screen and (max-width: 991px){
    header .header-bottom .header-right .contact img{
        width: 35px;
        height: 35px;
    }

    .header-left{
        img{
            width: 140px;
        }
    }

    .main-container{

        .title{
            font-size: 24px;
        }
        
        .banner{
            flex-direction: column;
            padding: 40px 30px 120px;
            background-size: 180%;
            background-position-x: 0;
            background-position-y: -110px;
            position: relative;

            .banner-left {
                margin: unset;
                width: 100%;

                .title{
                    font-size: 24px;
                }

                .see-more{
                    position: absolute;
                    bottom: 70px;
                    text-align: center;
                    width: 85%;

                    button{
                        background:#F7EA84;
                        border: unset;
                        color: #6CB5E4;
                        width: 100%;
                        font-size: 18px;
                    }
                }
            }

            .banner-right{
                padding: 35px 20px;
            }
        }

        .payment{

            width: 100%;

            .price{
                width: 100%;
                text-align: center;

                button{
                    border: none;
                    margin-right: unset;
                    margin-bottom: 20px;
                    width: 90%;
                    border: transparent;
                    padding: unset;
                    min-height: 60px;
                    font-size: 18px;
                }
            }

            .pay{
                width: 100%;
                text-align: center;

                button{
                    margin-left:unset;
                    width: 90%;
                    background:#F98C90;
                    color: white;
                    padding: unset;
                    min-height: 60px;
                    font-size: 18px;

                }
            }
        }

        .content-container{
            flex-direction: column;
            width: 90%;
            margin: 0 auto;
            padding: unset;

            .lg-box{
                right: 50%;

                .lg-image{
                    position: unset;
                    width: 150%;
                }
            }

            .content{
                margin-top: 30px;

                .see-more{

                    button{
                        width: 90%;
                        font-size: 18px;
                    }
                }
            
            }
        }

        .reverse{
            flex-direction: column-reverse;
            position: relative;
            bottom: -79px;
            padding: 0 !important; 
            top: unset;
           
              
            
        }

        .terms-section{
            padding: 80px 15px;
        }
    }

    footer{
        padding: 45px 30px 90px;
        flex-direction: column;
        text-align: center;
        margin-top: unset;

        .footer-content{

            img{
                margin-bottom: 35px;
            }
        }
    }


}

