*{
    margin: 0;
    padding: 0;
  }

.form-container{
    background-image: url(../images/bg.svg);
    background-size: 110%;
    background-position: 260px -510px;
    background-repeat: no-repeat;
    padding-bottom: 100px;



    
  
    
    .form-header{
        padding: 40px 0;
    
        .main-title{
            h1{
                font-size: 30px;
            color:#113268;
            text-align: center;
            }
        }
    
        .breadcrumb{
            font-size: 14px;
            background:transparent;
            justify-content: center;
            padding: 0;
            margin: 0;
    
            li{
                padding-right: 8px;
    
                a{
                    color: #113268;
                }
            }
    
            li + li:before {
                
                color: #113268;
                padding-right: 5px;
                content: "/";
            } 
        }
    }

    

    .common-form{
        width: 55%;
        margin: 0 auto;
        background: white;
        border-radius: 15px;
        box-shadow: 0 6px 20px rgba(0,0,0,0.1), 0 16px 13px rgba(0,0,0,0.22);


        .terms-header{
            padding: 22px 0;
            border-radius: 10px;
            background:#6CB5E4;

           h2{
            font-size: 30px;
            text-align: center;
            color: white;
           }
        }

        .common-form-header{
            background-image: url(../images/mask\ header.svg), url(../images/Rectangle\ 22.svg);
            padding: 22px 0;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 10px 10px 0 0;
            background-size: 100%;


            h2{
                font-size: 30px;
                text-align: center;
                color: white;
                
            }
        }

        .next-payment-header{
            background-image: url(../images/mask\ header.svg), url(../images/Rectangle\ 23.svg);
            
        }

        .colors{
            height: 10px;
            background: grey;

            .yellow{
                width: 25%;
                background: #FFE31E;
                height: 10px;
            }

            .yellow-2{
                width: 50%;
                background: #FFE31E;
                height: 10px;
            }

            .yellow-3{
                width: 70%;
                background: #FFE31E;
                height: 10px;
            }

            .yellow-4{
                width: 90%;
                background: #FFE31E;
                height: 10px;
            }
        }

        .form-info{
            font-family: 'Conv_bpg_mrgvlovani_caps_2010';
            font-size: 16px;
            color: #113268;
            text-align: center;
            margin-top: 20px;
            width: 90%;
            
        }

        .form-content{
            margin: 15px 25px;


            .input-info-box{
                font-size: 14px;
                background: #DFF3FF;
                padding: 15px 35px 15px 15px;
                border: 1px solid #A3D1EF;
                border-radius: 7px;
                font-family: 'Conv_bpg_mrgvlovani_caps_2010';
                position: relative;
                margin: 15px 0;

                img{
                    position: absolute;
                    top: 7px;
                    right: 7px;
                    cursor: pointer;
                }

                .arrow{
                    width: 15px;
                    height: 15px;
                    background: red;
                    margin: 0 auto;
                    transform: rotate(45deg);
                    position: absolute;
                    bottom: -8px;
                    left: 290px;
                    background: #DFF3FF;
                    border-bottom: 1px solid #6CB5E4;
                    border-right: 1px solid #6CB5E4;
                }
            }

            .form-question{

                .main-question{
                    margin-bottom: 20px;
                }


                .question-input-2 {
                    margin-left: 80px;
                }

                .question-input{

                    position: absolute;
                    

                    .cart_button{
                        margin-left: 35px;
                    }

                    input {
                        width: 20px;
                        height: 20px;
                        margin-right: 30px;
                    }

                    input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }

                    input:checked ~ .checkmark {
                        background-color: #113268;
                        border: 2px solid #113268;
                        padding: 3px;
                        background-clip: content-box;
                    }

                    .checkmark {
                        position: absolute;
                        top: 2px;
                        left: 6px;
                        height: 20px;
                        width: 20px;
                        background-color: #eee;
                        border-radius: 50%;
                        border: 2px solid #113268;
                    }

                    .checkmark:after {
                        display: block;
                    }

                    .checkmark:after {
                        content: "";
                        position: absolute;
                        
                    }

                   
                }


                padding: 30px 0;

                    span{
                        color: #113268;
                        font-size: 14px;
                    }
            }

            



            .form-section{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .personal-id{
                    width: 100% !important;


                }

                .form-group-long{
                    width:100% !important;

                    select{
                         background-position: 97%;
                    }
                    
                }

                .form-group{
                    display: flex;
                    flex-direction: column;
                    width: 48%;

                    .l-price{
                        margin-bottom: 5px;
                    }


                    .car-price{
                        display: flex;
                        align-items: center;
                       

                        img {
                            margin-left: 10px;
                        }
                    }

                    .car-price-input{
                        display: flex;

                       input{
                        width: 70%;
                        border-radius: 10px 0 0 10px;
                       }

                        select{
                            width: 35%;
                            height: 43px;
                            margin-top: 5px;
                            border-radius: 0 7px 7px 0;
                            background-position: 70px;
                            background-color: #DFF3FF;
                        }
                    }

                    
                    img{
                        margin-left: 35px;
                    }

                    span{
                        color: #113268;
                        font-size: 14px;
                     

                    }

                    .common-input{
                        border: 1px solid #6CB5E4;
                        border-radius: 8px;
                        padding: 10px;
                        margin-top: 5px;
                        outline: none;
                        font-size: 14px;
                        color: #113268;
                    }

                    input::-webkit-outer-spin-button,
                    input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                    }

                    select{
                        padding: 11px;
                        font-size: 14px;
                        border: 1px solid #6CB5E4;
                        border-radius: 8px;
                        outline: none;
                        color: #113268;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        background-image: url(../images/arrow\ select.svg);
                        background-position: 92%;
                        background-repeat: no-repeat;
                    }
                }

                .payment-info{
                    width: 80%;
                    text-align: center;

                    span{
                        padding: 6px;
                        font-size: 20px;
                    }

                    .payment-date{
                        border: 2px solid #DEF0FE;
                    }

                    p{
                        font-size: 16px;
                        font-family: 'Conv_bpg_mrgvlovani_caps_2010';

                    }
                }



                .textarea-section{
                    width:100%;
                    margin: 20px 0 40px;
                

                    textarea{
                        resize: none;
                        height: 160px;
                        border: 1px solid #6CB5E4;
                        border-radius: 8px;
                        padding: 10px;
                        margin-top: 5px;
                        outline: none;
                        font-size: 14px;
                        color: #113268;
                    }
                }

                .form-group-long{
                    width:100% !important;

                    select{
                         background-position: 97%;
                    }
                    
                }
            }

            .owner-section{
                align-items: unset;
                padding: unset;

                .main-question {
                    margin-bottom: 10px;
                }
            }

            .form-footer{
                padding: 35px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                span:nth-child(1){
                    font-size: 22px;
                    color:#F98C90;
                }

                span:nth-child(3){
                    font-size: 14px;
                    color:#113268;
                }


                .back-button{
                    border: 1px solid #F6F6F8;
                    padding: 15px 50px;
                    border-radius: 10px;
                    color: #6CB5E4;
                    margin: 0 5px;
                }

                .next-button{
                    background: #6CB5E4;
                    padding: 15px 35px;
                    border-radius: 10px;
                    color: white;
                    margin: 0 5px;
                    
                }

                .pay-button{
                    outline: none;
                    width: 49%;
                    padding: 10px;
                    background: #6CB5E4;
                    border: unset;
                    border-radius: 7px;
                    color: white;
                    cursor: pointer;
                }

                .pay-button-red{
                    background: #F98C90;
                    outline: none;
                    width: 49%;
                    padding: 10px;
                    border: unset;
                    border-radius: 7px;
                    color: white;
                    cursor: pointer;
              
                }

                .price-button{
                    background: #FFE31E;
                    padding: 15px 35px;
                    border-radius: 10px;
                    color: #113268;
                    margin: 0 5px;
                    cursor: pointer;
                }
            }

            .pay-button{
                justify-content: center;
                margin-top: 15px;

                .price-button{
                    padding: 15px 60px;
                    border-radius: 8px;
                }
            }


        }


        .price-calc-header{
            h2{
                font-size: 24px;
                text-align: center;
                color: #113268;
                padding: 40px 0 20px;
            }
        }
    }

    .componetnt-container{
        width: 60%;
    }

    .payment-form{
        width: 60%;

        .form-content{
            margin-top: 45px;

            .form-section{
                justify-content: center !important;
             
            }

            .form-footer{
                justify-content: center;
                padding: 25px 0 50px;
            }

        }

       
    }

    .price-calc-section{
        width: 80%;
        padding-bottom: 50px;

         table{
            width: 80%;
            margin: 0 auto 50px;
            box-shadow:0 6px 19px rgba(0, 0, 0, 0.1), 0 2px 14px rgba(0, 0, 0, 0.22);
            border-radius: 7px;
            overflow: hidden;

            tr:not(:last-child){
                border-bottom: 1px solid #E8EBF1;
            }
            
            .total{
                background:#DFF3FF;
            }

            th{
                width: 50%;
                padding:  17px 40px;  
                background: #DFF3FF;
                font-size: 16px;
                color: #073269;
                
               

                &:nth-child(even) {
                    text-align: center;
                }

                &:nth-child(odd) {
                   padding-left: 20px;
                   border-right: 1px solid #E8EBF1;
                }
            }

            

          

            .details, th{
                background: white;
            }
        }

        .terms-checkbox{
            font-family: 'Conv_bpg_mrgvlovani_caps_2010';
            text-align: center;
            padding: 10px;

            a{
                text-decoration: underline !important;
                color: #073269;
            }
        }

        .price-calc-form{
            position: relative;

            .terms-checkbox {
                text-align: center;
                position: unset;

                .cart_button{
                    position: relative;
                }

                .checkmark{
                    top: 0;
                    left: -25px;
                    border-radius: 5px;
                   
                }
            }

            .question-input input:checked ~ .checkmark{
            
                background-color: #9A9A9A;
                border: 2px solid #9A9A9A;  
            }
        }

        .button-box{
            text-align: center;
            margin-top: 40px;

           

            .policy-button{
                background: #113268;
                color: white;
                font-size: 14px;
                padding: 15px 50px;
                border-radius: 10px;
            }

            .disable{
                pointer-events: none;
                opacity: .4;   
            }
        }
    }

    


    

}

.pop-up-form{
    background: unset;
    width: 100%;

}



.question-input{

    position: absolute;
    

    .cart_button{
        margin-left: 35px;
    }

    input {
        width: 20px;
        height: 20px;
        margin-right: 30px;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    input:checked ~ .checkmark {
        background-color: #113268;
        border: 2px solid #113268;
        padding: 3px;
        background-clip: content-box;
    }

    .checkmark {
        position: absolute;
        top: 2px;
        left: 6px;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 50%;
    }

    .checkmark:after {
        display: block;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        
    }

   
}


@media only screen and (max-width: 991px){

    .form-container{
        padding-bottom: 50px;

        .form-header{
            padding: 20px 0;

            .breadcrumb {
                  display: none;
            }

            .main-title{
                h1{
                    font-size: 20px;
                    padding: 15px;
                }
            }
                
        }

        .common-form {
            width: 90%;

            .terms-header{

                h2{
                    font-size: 20px;
                }
            }


            .common-form-header{
                background-size: cover;

                h2{
                    font-size: 20px;
                }

                
            }

            .form-info{
                width: 100%;
                width: 100%;
                padding: 5px;
                font-size: 14px;
            }

            .form-content{
                margin: 15px;
                
                .form-section{
                    flex-direction: column;

                    .form-group{
                        width: 100%;


                        select{
                            background-image: unset;
                        }
                    }

                    .payment-info{

                        span{
                            font-size: 14px;
                            padding: 6px 0;
                        }

                       
                    }

                }

            }
        }

        .price-calc-section{
            width: 100%;

            .price-calc-header{
                h2{
                    font-size: 20px;
                    padding: 20px 5px;
                }
            }

            table{
                width: 90%;

                th{
                    font-size: 14px;
                    padding: 10px 0;

                }
            }
        }

        .form-footer{
            padding: 10px 0 50px !important;
            a{
                font-size: 14px;
                padding: 15px !important;
            }

            .pay-button{
                width: 100% !important;
            }

            .pay-button-red{
                width: 100% !important;

            }


            
        }
    }
}



